:root {
    --clr-book-main: rgb(11, 139, 191);
    --clr-book-text: rgb(0, 0, 0);
    --clr-book-accent: rgba(0, 0, 0, 0.9);
    /*--unread--*/
    --clr-book-unread-main: rgb(28, 36, 39);
    --clr-book-unread-text: rgb(241, 241, 241);
    --clr-book-unread-accent: rgba(11, 139, 191, 0.85);
}

/*------------------------------
--------   JS Classes   --------
------------------------------*/
.hidden {
    display: none;
}

/*------------------------------
-------- Reset Classes  --------
------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------------
------ Font Set Classes  -------
------------------------------*/
body {
    font-family: 'PT Serif', serif;
    background-color: rgb(225, 225, 225);
}

header {
    font-family: 'Abril Fatface', cursive;
}

.btn {
    font-family: inherit;
}

.header-title,
.add-book-btn,
.remove-book-btn {
    font-size: 1.2em;
    font-family: inherit;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.add-book-plus {
    font-family: 'PT Serif', serif;
    font-weight: 700;
}

.card-book-by {
    font-size: .75rem;
}

.card-author,
.submit-book-btn {
    font-size: 1.1rem;
}

.read-unread-btn {
    font-size: 1rem;
    font-family: 'PT Serif', serif;
}

.close-add-book-popup-btn {
    font-size: 1.4rem;
}

/*------------------------------
-----Add Book Popup Window------
------------------------------*/
dialog {
    margin: auto;
    padding: .5rem;
    background-color: darkgray;
    border: none;
    border-radius: 10px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.75);
}

.add-book-popup-content {
    padding: 0;
    display: flex;
    flex-direction: column;
}
.form-title {
    text-align: center;
}

form {
    display: grid;
    padding: 1rem;
}

label {
    padding-top: .75rem;
    display: flex;
    flex-direction: column;
}

input {
    margin-top: .35rem;
}

.submit-book-btn {
    margin-top: 1.25rem;
    width: 60%;
    padding: 0.5rem 0;
    justify-self: center;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 4px 5px -3px rgba(0, 0, 0, 0.25),
                2px 4px 5px rgba(0, 0, 0, 0.30);;
}

.submit-book-btn:hover {
    cursor: pointer;
}

.checkbox-container,
.checkbox-container label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.checkbox-container {
    justify-content: space-evenly;

}

.checkbox-container  input{
    margin-top: 0;
    margin-left: .35rem;
}

.close-add-book-popup-btn {
    padding: 0 .5rem;
    flex-grow: 0;
    border: none;
    background-color: transparent;
    align-self: flex-end;
}

/*------------------------------
----Delete Book Popup Window----
------------------------------*/
.confirm-delete-popup {
    position: fixed;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #aaa;
}
.confirm-delete-popup p{
    padding-bottom: 1rem;
}
.confirm-delete-btn-container {
    display: flex;
    justify-content: space-evenly;
}

/*------------------------------
------ Header Main Styles ------
------------------------------*/
header {
    background-color: rgb(0, 0, 0);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 4em;
    color: white;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-title h1 {
    margin-right: 2rem;
}

.add-book-btn-container {
    display: flex;
}
.add-book-btn-container:hover,
.add-book-btn:hover {
    cursor: pointer;

}
.add-book-btn {
    padding-top: 5px;
    background-color: transparent;
    color: white;
    border: none;
}

/*------------------------------
------ Main Content Styles -----
------------------------------*/
main {
    display: grid;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 175px);
    justify-content: center;
    column-gap: 25px;
    row-gap: 40px;
    padding: 25px;
}

/*------------------------------
------- Each Book Styles -------
------------------------------*/
.single-card {
    width: 175px;
    height: 250px;
}

.card-content {
    width: 175px;
    height: 250px;
    position: relative;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.single-card:hover .card-content {
    transform: rotateY(0.5turn);
}

.card-front.Read,
.card-back.Read {
    background-color: var(--clr-book-main);
    background-size: cover;
}

.card-front.Unread,
.card-back.Unread {
    background-color: var(--clr-book-unread-main);
    background-size: cover;
    color: var(--clr-book-unread-text);
}

.card-front,
.card-back {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0.5rem;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    width: 175px;
    height: 250px;
}

.card-front {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    justify-content: flex-start;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 10px 0px rgba(0,0,0, .9),
                2px 4px 5px -3px rgba(0, 0, 0, 0.25),
                2px 4px 5px rgba(0, 0, 0, 0.30);
}

.card-front.Unread {
    box-shadow: inset 10px 0px var(--clr-book-unread-accent),
    2px 4px 5px -3px rgba(0, 0, 0, 0.25),
    2px 4px 5px rgba(0, 0, 0, 0.30);
}

.card-front.Read::after{
    content: "";
    position: absolute;
    bottom: -36px;
    left: 13px;
    border-top: 15px solid black;
    border-right: 15px solid black;
    border-left: 15px solid black;
    border-bottom: 15px solid transparent;
    border-width: 18px 10px;
}

.card-title {
    transform: translateZ(1rem)
}

.card-book-by,
.card-author {
    transform: translateZ(.75rem);
}

.card-back-top-container,
.card-pages-container {
    transform: translateZ(.5rem);
}

.card-back {
    transform: rotateY(0.5turn);
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: inset -10px 0px rgba(0,0,0, .9),
                2px 4px 5px -3px rgba(0, 0, 0, 0.25),
                2px 4px 5px rgba(0, 0, 0, 0.30);
}

.card-back.Unread {
    box-shadow: inset -10px 0px var(--clr-book-unread-accent),
                2px 4px 5px -3px rgba(0, 0, 0, 0.25),
                2px 4px 5px rgba(0, 0, 0, 0.30);
}

.card-back.Read::after{
    content: "";
    position: absolute;
    bottom: -36px;
    right: 13px;
    border-top: 15px solid black;
    border-right: 15px solid black;
    border-left: 15px solid black;
    border-bottom: 15px solid transparent;
    border-width: 18px 10px;
}

.card-back-top-container {
    display: flex;
    flex-direction: column;
}

.remove-book-btn {
    margin-top: -5px;
    padding: .15rem .35rem;
    margin-right: 10px;
    flex-grow: 0;
    border: none;
    background-color: transparent;
    align-self: flex-end;
}

.remove-book-btn.Unread {
    color: var(--clr-book-unread-text);
}

.close-add-book-popup-btn:hover,
.remove-book-btn:hover {
    cursor: pointer;
}

.read-unread-btn {
    margin: .5rem auto;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: .1rem  .75rem;
}

.read-unread-btn.Unread {
    border-color: var(--clr-book-unread-text);
    color: var(--clr-book-unread-text);
}

.read-unread-btn:hover {
    cursor: pointer;
}

.card-pages-container {
    margin: 0 auto;
    padding-bottom: 1rem;
    display: flex;
}
.card-pages {
    padding-right: 0.5rem;
}

@media (min-width: 1300px) {
    body {
        display: flex;
    }
    header {
        position: fixed;
        height: 100vh;
        width: 250px;
    }

    .header-container {
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-left: 3em;
    }
    .header-title {
        flex-direction: column;
        align-items: flex-start;
    }
    .add-book-btn-container {
        align-self: flex-start;
    }
    .add-book-btn {
        margin-left: 0;
    }
    .header-nav {
        align-self: center;
    }

    main {
        display: grid;
        width: 100%;
        margin-left: 250px;
    }
}